<html ng-app="sousChef.create">
  <head>
    <script src='bower_components/angular/angular.js'></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <script src="create.js"></script>
  </head>
  <body ng-controller="SampleCtrl">
    <ul>
      <li ng-repeat="message in messages">

        <!-- exit a message -->
        <input ng-model="message.text" ng-change="messages.$save(message)" />

        <!-- delete message -->
        <button ng-click="messages.$remove(message)">X</button>

      </li>
    </ul>

    <!-- push a new message into the array -->
    <form ng-submit="addRecipe(newMessageText)">
      <input ng-model="newMessageText" />
      <button type="submit">add message</button>
    </form>
  </body>
</html>