<!DOCTYPE html >
<html>
  <head>
    <link rel='stylesheet' type='css' href='style.css'>
  </head>
  <body ng-app='sousChef.create'>
    <div class='banner'>
      <span class='title'><p class='title'>SousChef</p></span>
    </div>
    <div class='container' ng-controller='CreateController as create'>
      <img  class='image' src='images/placeholder_image.jpg'/>
      <input class='image upload' type="file" onchange="previewFile()">

      <form>
        <input class='measurement' placeholder='Measurement' ng-model='measurement'>
        <input class='ingredients' placeholder='Ingredient' ng-model='ingredient' >
        <button class='addIngredient'> Add </button>
      </form>

      <form>
        <textarea class='directions' placeholder='Recipe directions' ng-model='directions'></textarea>
        <button class='updateDirections'> Update Directions </button>
      </form>

      <div class='ingredientContainer'>
        <h1 class='ingredientTitle'> Ingredients: </h1>
        <ul class='ingredientList'>
          <li>{{measurement}} {{ingredient}}</li>
        </ul>
      </div>

      <div class='directionContainer'>
        <h1 class='directionTitle'> Instructions: </h1>
        <p>{{directions}}</p>
      </div>
    </div>

    <!--// <script>
    //   var Speakable = require('./');

    //   var speakable = new Speakable();

    //   speakable.on('speechStart', function() {
    //     console.log('onSpeechStart');
    //   });

    //   speakable.on('speechStop', function() {
    //     console.log('onSpeechStop');
    //   });

    //   speakable.on('speechReady', function() {
    //     console.log('onSpeechReady');
    //   });

    //   speakable.on('error', function(err) {
    //     console.log('onError:');
    //     console.log(err);
    //     speakable.recordVoice();
    //   });

    // </script>-->
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/underscore/underscore.js'></script>

    <script src='create.js'></script>

  </body>
</html>